@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


:root {
  --light-gray: #A7A7A7;
  --dark-blue : #0a0a23;
  --white : #fff;
  --lighter-gray: #D8D8D8A0;
  --lighter-blue:#0a0a23B0;
  --light-blue: aliceblue;
  --overlay: rgba(60, 60, 60, 0.4);
}

body {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1em;
  background-color: #A7A7A7;
  margin: 0;
}

h1 {
  color: black;
  text-align: center;
}

.family-list {
    background-color: var(--light-blue);
    padding: 1rem;
    border-radius: 1rem;
    width: 50%;
} 
.family-list td{
  display: inherit;
  width: 5rem;
  text-align: center;
  max-width: 30rem;
  overflow: hidden;

}
.family-list tr {
    border-radius: 1rem;
    padding: .5rem;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.family-list thead >tr {
  background-color: var(--dark-blue);
}

.family-list th {
    display: inherit;
    width: 5rem;
    color: var(--white);
  }
  .button {
    
    font-family: 'Rajdhani', sans-serif ;
    font-size: 1em;
    position: relative;
    background-color: var(--dark-blue);
    border-radius: 4rem;
    padding: 1rem;
    width: 8rem;
    border: none;
    margin: 2rem;
    color: var(--white);
    left: 0;
    right: 0;
    text-align: center  ;
  

  }
  .button:hover {
    background-color: var(--lighter-blue);
  }
  .button:active{
    opacity:0.75;
  }
  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .family:hover {
    background: var(--lighter-blue);
    color: var(--white);
  }
body {
  position: relative;
  height: 100vh;
}

  .popup {
    display: none;
    position: absolute;
    top: 0rem;
    width: 100%;
    background-color: var(--overlay) ;
    height: 100%;
    overflow-x: hidden;
  }
  .card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    margin-left: auto;
    margin-right: auto;
    top: 15rem;
    width: 30rem;
    background-color: var(--light-blue);
    border: 1px solid var(--dark-blue);
    border-radius: .5rem;
    padding: .5rem;
    height: 27rem;
    animation: slide 250ms 250ms ease-in-out reverse both; 
    
    box-shadow: 2px 2px 9px 1px var(--dark-blue);

  }
.zbytne , .nezbytne {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card input {
  width: 100%;
  border-radius: .5rem;
  border: 2px solid var(--dark-blue);
  padding: .5rem;
}
.card input:focus, .card input:hover {
  background-color: var(--lighter-blue);
  color: white;
}
.card h3 {
  text-align: center;
}
.close {
  right: .5rem;
  top: .3rem;
  position: absolute;
  cursor: pointer;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.vydaje-druhy {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.card.active {
  animation: fade 250ms ease-in-out reverse;
}

.popup.show {
  display: block;
}

.card button {
  padding: .5rem;

}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: .25rem;
  width: 80%;
}
.button-group {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
  bottom: .5rem;
}
.hide {
  display:none; 
}
@import "compass/css3";

@keyframes slide{
  0% {
    transform: translateX(200%) ;
    opacity: 0;

  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade{
  0% {
    transform: scale(1) ;
    opacity: 1;

  }
  50% {
    transform: scale(.75);
    opacity: 0;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}


#family-detail {
  color:inherit;
  position: absolute;
    top: 0rem;
    width: 100%;
    background-color: var(--overlay) ;
    height: 100%;
    overflow-x: hidden;
  
}
.edit-popup{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 5rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  height: 50rem;
  background-color: var(--light-blue);
}
.main-details {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.clmn{
  display:flex;
  justify-content: center;
  flex-direction: row;
  gap:2rem;
}
  

.grid{
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding:3rem;
}
.edit:disabled{
  background-color: var(--light-blue);
  height:1.5rem;
  width:10rem;
  border-radius: 2rem;
}
.edit {
  background-color: white;
  height:1.5rem;
  width:10rem;
  margin-bottom:2rem;
  border-radius: 2rem;
}

.edit:active{
  opacity: 0.5;
}
.edit1:disabled{
  background-color: var(--light-blue);
  align-self: center;
  height:2rem;
  width:20rem;
  margin-bottom:2rem;
  border-radius: 2rem;
}
.edit1 {
  background-color: white;
  align-self: center;
  height:2rem;
  width:20rem;
  margin-bottom:2rem;
  border-radius: 2rem;
}
.edit1:active{
  opacity: 0.5;
}
.editb{
  background-color: var(--dark-blue);
  color: var(--white);
  border:none;
  padding:.65rem;
  text-align: center;
  border-radius: 1rem;
  width: 4rem;

}
.editb:hover{
  background-color: var(--lighter-blue);
}
.editb:active{
  opacity:0.75;
}

