h1 {
  color: black;
  text-align: center;
}

.button {
  background-color: #0a0a23;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  ;
  color: #fff;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
}


td {
  font-weight: bold;
}
body{
  background-color: gray;
}

.table {
  margin: 0 2rem 0 2rem;
  padding: 5px;
  background-color: #FF9B00;
 
}


.table input[type=Number] {

  padding: 8px;
  margin: 5px 0 5px 0;
  border: none;
  background: white;
}


.table input[type=Number]:focus {
  background-color: #dcdcdc;
  outline: none;
}

.middle {
  text-align: center;

}


.inputbox {
  align-items: center;
  display: flex;
  justify-content: left;

}
.outputbox {
  align-items: center;
  display: flex;
  justify-content: right;

}

.column {
  width: fit-content;
}