h1 {
  color: black;
  text-align: center;
}

.button {
  background-color: #0a0a23;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  
  color: #fff;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
}

.center{
  position:absolute;
  left:48.5rem;
  top:130px;

}
.form{
  display: none;
  position: fixed;
  bottom: 0;
  left:20%;
  right:20%;
  background-color: cyan;
  border: 2px solid #474747;
  z-index: 9;
}
td {
  font-weight: bold;
}
body{
  background-color: #A7A7A7;
}

.table {
  display:grid;
  padding: 5px;
  text-align:center;
  
}


.table input[type=Number], input[type=text] {

  padding: 8px;
  margin: 5px 0 5px 0;
  border: none;
  background: white;
  height:2.5rem;  
}


.table input[type=Number]:focus, input[type=text]:focus {
  background-color: #dcdcdc;
  outline: none;
}

.middle {
  text-align: center;
  

}


.inputbox {
  align-items: center;
  display: flex;
  justify-content: center;

}
.outputbox {
  align-items: center;
  display: flex;
  justify-content: center;

}

.column {
  width: fit-content;
  
}
.family-list {
  width: fit-content;

}
.family {
  width:  10rem;
  border: 1px solid black;
  border-radius: 0.3rem;
}
.family:hover {
  background: rebeccapurple;
}