h1{ color: black; 
	text-align: center;}
.button {background-color: #0a0a23; 
  border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;;
  color: #fff;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 
  cursor: pointer;
}
td{
  font-weight: bold;
}
body
{
  background-color:gray;
  background-size: 100%; 

}

.button:hover {
	background-color:#002ead;
      transition: 0.7s;
}
.button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}
.button:active {
    background-color: #ffbf00;
}
form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 34%;
  left: 34%;
  border: 3px solid #474747;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  margin:0 2rem 0 2rem ;
  padding: 10px;
  background-color: #FF9B00;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=date] {
  
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: white;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=date]:focus {
  background-color: #dcdcdc;
  outline: none;
}



.column {
  float: left;
}


.middle {
  text-align: center;

}


.inputbox {
	align-items: center;
	display: flex;
	justify-content: center;
}
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 400px;
  height: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: 750px;
  margin-bottom: 400px;
}



/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

